header
  height: 120px
  z-index: 999

.logo_wrapper
  top: 40px
  z-index: 101

.logo
  background-repeat: no-repeat
  background-image: url("../img/logo.svg")
  background-position: center center
  height: 40px
  background-size: inherit
  display: block

nav
  top: 20px
  z-index: 1
  a
    color: white
    font-size: em(15px)
    text-decoration: none
    letter-spacing: 0.3px
    line-height: 27px
    font-weight: 700
    display: block
    float: left
    width: 50%
    transition: 0.3s

    &:hover
      color: $accent

.phone_wrapper
  top: 30px
  z-index: 1

  img
    float: left

  ul
    padding-left: 54px
    margin: 0

  li
    list-style: none
    color: white
    line-height: 27px

.btn_cta_wrapper
  z-index: 1

.btn_cta
  outline: none
  margin-top: 30px
  border: none
  border-radius: 0
  padding: 0px 30px
  background-color: white
  color: $black_font
  letter-spacing: 0.4px
  line-height: 3.5
  transition: 0.3s
  font:
    weight: 700
    size: em(15px)

  &:hover
  	opacity: 0.8

.btn_cta_content
  display: block
  outline: none
  margin-top: 30px
  border: none
  border-radius: 0
  padding: 0px 30px
  background-color: $accent
  color: white
  letter-spacing: 0.4px
  line-height: 3.5
  transition: 0.3s
  font:
    weight: 700
    size: em(15px)

  &:hover
  	opacity: 0.8

  @media only screen and (min-width : 992px)
    display: none
