@import "bourbon"
@import "vars"

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body input
	border-radius: 0

*
	-webkit-font-smoothing: antialiased

*::-webkit-input-placeholder
	color: #878787
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1


/* Change Autocomplete styles in Chrome*/
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus
	-webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.0) inset !important
	-webkit-text-fill-color: $black_font

.body_wrapper
	background-color: white
	max-width: 1440px
	margin: 0 auto
	overflow: hidden

h1
	font:
		family: $merriweather
		size: em(36px)
		weight: 700

	text-align: center
	color: $black_font
	padding: 90px 0
	letter-spacing: .6px

	@media only screen and (max-width : 480px)
		font-size: em(30px)
		padding: 60px 30px

h3
	font:
		family: $proxima_nova
		size: em(20px)
		weight: 700
	letter-spacing: 0.2px
	color: $black_font

body
	background-color: #193836
	font-size: 15px
	color: $grey_font
	min-width: 320px
	position: relative
	line-height: 1.7
	font-family: $proxima_nova
	overflow-x: hidden

.tiny_text
	font-size: em(11px)
	color: $grey_font

a
	text-decoration: none
	color: $accent

	&:hover
		text-decoration: none
		transition: all 0.3s ease-in-out
	&:focus
		text-decoration: none

.second-btn
	padding: 10px	50px
	border: 1px solid #D6DADA
	border-radius: 0
	background-color: transparent
	color: $accent
	transition: 0.3s
	letter-spacing: 0.8px
	font:
		size: em(14px)
		weight: 700

	&:hover
		background-color: $accent
		color: white
		border: 1px solid $accent

.row
	padding-bottom: 90px

	@media only screen and (max-width : 480px)
		padding-bottom: 10px

@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1

.m-scene
	.scene_element
		animation-duration: 0.45s
		transition-timing-function: ease-in
		animation-fill-mode: both

	.scene_element--fadein
		animation-name: fadeIn

	&.is-exiting
		.scene_element
	  	animation-direction: alternate-reverse
