.head_wrapper_innerpage
  height: 370px
  background-image: url(../img/img_bg/img_bg_lp.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  position: relative

  .head_content_wrapper_with_p
    h1
      color: white
      text-align: center
      padding: 20px 0

    .disc_head_content
      color: white
      text-align: center
      width: 430px
      margin: 0 auto

.tabs_catalog
  background-color: #F3F3F3
  height: 155px
  margin-right: auto
  margin-left: auto
  padding-left: 15px
  padding-right: 15px

  .tabs_catalog_wrapper
    width: 1000px

  .tabs_row
    padding-bottom: 0

  .tab_catalog_wrapper
    width: 33.33333333%
    float: left

  .tab_catalog
    height: 155px
    padding: 9%
    transition: all 0.3s ease
    &:hover
      border-bottom: 1px solid $accent
      cursor: pointer

  .tab_catalog_selected
    background-color: white

  .tab_icons_wrapper
    float: left
    margin-right: 30px
    line-height: 6.5

  .tab_content
    padding-left: 80px

    h3
      margin: 0

    .tab_small_desc
      margin-bottom: 0
      font:
        size: em(13px)

.catalog_gallery
  padding-top: 70px
  display: flex
  flex-wrap: wrap
  justify-content: center

  .g_img_wrapper
    padding-bottom: 70px
    margin-right: 30px
    margin-left: 30px

  .g_img
    border: 1px solid #E2E5E7

  .g_title
    text-align: center
    padding-top: 20px
