.contacts_wrapper
  height: 100%
  width: 100%
  background-color: grey

  .head_content_wrapper
    h1
      color: white
      text-align: center

.contact_form
  width: 400px
  height: 400px
  z-index: 1
  position: relative
  background-color: #2b2b2b

  .contact_form_wrapper
    padding-top: 40px
    padding-left: 50px

  h1, p
    color: white
    text-align: left
  h1
    padding: 0

#map
  height: 100%
  width: 100%
  position: absolute
  z-index: 0
