.our_profile
  height: 655px
  background-color: #F9F9F9

.doors, .furniture, .stairs
  padding-top: 70px

.content
  text-align: center

.how_we_work
  height: 590px

.why_we
  height: 543px
  background-color: $dark-bg

  h1
    color: white

  h3
    color: white

  p
    color: darken(white, 50%)

.accordion
  width: 600px
  margin: 0 auto

.statistic
  padding-bottom: 80px

.statistic .content h1
  color: $accent
  font-size: 60px
  padding: 0

@import "modules/order_bottom_block"

.reviews
  padding: 60px 0
  h3
    color: white

  p
    color: darken(white, 50%)

.review_item
  text-align: center
